* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
}

.main_page {
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 50px;
  height: 100vh;
}

.desk_nav {
  display: none;
}

.desk_menu {
  display: none;
}

.second_nav {
  position: relative;
}

.nav-web {
  display: none;
}

.hamburger {
  padding: 20px;
  font-size: 25px;
  background-color: #fff;
}

.close {
  display: none;
  color: #fff;
  padding: 20px;
  font-size: 25px;
  position: absolute;
}

.menu-icon {
  position: relative;
  z-index: 100;
  border: #fff;
  cursor: pointer;
}

.menu-icon a {
  text-decoration: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  opacity: 0.967;
  color: black;
  list-style: none;
  padding-top: 4rem;
  padding-left: 2rem;
  gap: 12px;
}

.showMenu {
  transform: translateY(0);
  background-color: black;
}

.menu-item {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 70px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

/* hero-sectio */

.hero {
  display: flex;
  flex-direction: column;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(6, 82%, 59%);
  padding: 19px;
  width: 100%;
}

.first_head {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  width: 97%;
}

.sec_heading {
  font-size: 41px;
  width: 100%;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: hsl(6, 82%, 59%);
  margin: 25px 0 30px 0;
}

.first_para {
  font-size: 15px;
  line-height: 25px;
  color: #272a31;
  width: 100%;
  padding-left: 14px;
  background-color: rgb(183, 187, 192, 0.4);
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  width: inherit;
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}

.dat_1 {
  font-size: 24px;
}

.dat_para {
  font-size: 17px;
}

/* Program section */

.pro_main {
  display: flex;
  background-image: url(./images/card1.png);
  flex-direction: column;
  justify-content: center;
  background-repeat: repeat;
  padding: 20px;
  gap: 20px;
}

.main_pro {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.heading {
  font-size: 20px;
  color: whitesmoke;
  font-weight: 900;
  text-align: center;
}

.main_hr {
  width: 24%;
  height: 0;
  color: hsl(6, 82%, 59%);
  border: 1px solid;
  margin-left: 39%;
  margin-top: 9px;
}

.programs {
  background: hsl(222, 11%, 17%);
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 22rem;
  margin: 6px 26px 0 -7px;
}

.pro_img1 {
  height: 33px;
}

.pro_head {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: hsl(6, 82%, 59%);
}

.pro_para {
  font-size: 15px;
  width: 87%;
  color: #ffff;
}

.btn_10 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve_sport {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve_btn {
  background-color: hsl(6, 82%, 59%);
  color: #fff;
  padding: 20px;
  border: 0;
  width: 221px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 47px;
}

.reserve_btn1 {
  display: none;
}

/* speaker section */

.speakers_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  padding: 20px;
}

.speaker_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span_speaker {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.speaker_details {
  gap: 20px;
}

.speaker_img {
  width: 134px;
}

.speaker_name {
  color: hsl(222, 11%, 17%);
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.speaker_infor {
  color: hsl(6, 82%, 59%);
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.para_speaker {
  font-size: 15px;
  color: hsl(222, 11%, 17%);
  font-family: 'Lato', sans-serif;
}

.main_speakers {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.spk_heading {
  font-size: 30px;
  color: hsl(222, 11%, 17%);
  font-weight: 900;
  text-align: center;
}

.spk_hr {
  width: 24%;
  height: 0;
  color: hsl(6, 82%, 59%);
  border: 1px solid;
  margin-left: 39%;
  margin-top: 10px;
}

.view_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see_more_btn {
  background-color: #fff;
  border: 1px solid hsl(222, 11%, 17%);
  padding: 15px;
  width: 321px;
  font-size: 30px;
}

.drop_see_more {
  padding-top: 2px;
  padding-bottom: 2px;
}

.about_ptn {
  display: none;
}

.footer {
  display: none;
}

/* main page media queries */
@media (min-width: 768px) {
  .main_page {
    width: 100%;
    padding-bottom: 50px;
    height: 150vh;
  }

  .mainMenu {
    display: none;
  }

  .desk_nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: hsl(222, 11%, 17%);
    height: 50px;
    text-decoration: none;
    list-style: none;
    padding-right: 170px;
  }

  .desk_menu_list1 a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }

  li.hidden {
    display: flex;
  }

  .second_nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 150px;
    background-color: #fff;
    height: 50px;
    text-decoration: none;
    list-style: none;
  }

  .desk_menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;
    height: 40px;
    list-style: none;
  }

  .desk_menu_list a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .about_red a {
    color: #ec5242;
  }

  .border_item {
    border: 2px solid #ec5242;
    padding: 10px;
  }

  .border_item a {
    color: #ec5242;
  }

  .hamburger {
    display: none;
  }

  .nav-web {
    display: flex;
    width: 50px;
    height: 40px;
    margin-right: 400px;
  }

  .hero {
    position: absolute;
  }

  .headings {
    display: flex;
    padding-top: 158px;
    padding-left: 142px;
    gap: 2px;
    height: 100vh;
  }

  .sec_heading {
    font-size: 5rem;
    width: 50%;
  }

  .first_para {
    width: 60%;
    padding: 30px;
  }

  .menu {
    display: none;
  }

  .dates {
    gap: 15px;
  }

  .dat_para {
    font-size: 25px;
  }

  /* Program section */

  .cards_desk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .main_pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_hr {
    width: 6%;
    margin-left: 9px;
    align-self: center;
  }

  .programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    height: 20rem;
  }

  .programs:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border: 1px solid #ec5242;
    border-radius: 5px;
  }

  .pro_img1 {
    width: 106px;
    height: 95px;
  }

  .reseve-sport {
    display: none;
  }

  .reserve_btn {
    display: none;
  }

  .desk_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .reserve_btn1 {
    display: flex;
    color: #fff;
    border-bottom: #000;
    position: relative;
    margin-top: -92px;
  }

  .para_speaker {
    padding-top: 12px;
    font-size: 18px;
    color: #272a31;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }

  .speakers_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 98%;
    padding: 96px;
  }

  .about_ptn {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    height: 287px;
  }

  .main_ptn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .head_ptn {
    font-weight: 500;
    padding-top: 30px;
  }

  .partners_hr {
    height: 0;
    color: #ec5242;
    border: 1px solid;
    width: 6%;
    margin-left: 9px;
    align-self: center;
    margin-top: 15px;
  }

  .spk_hr {
    margin-left: 45%;
    width: 6%;
  }

  .image_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 31px;
  }

  .ptn_img {
    width: 120px;
    height: 97px;
  }

  .footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 140px;
    padding: 30px;
  }

  .logo_f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .f_img {
    width: 150px;
    height: 115px;
  }

  .rights {
    color: #272a31;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .p_rights {
    color: #272a31;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
}
